main {
    @include Display(space-around, center, column);

    background-color: $color7;

    div.infoContent{
        @include Display(space-around, center);

        width: 100%;

        padding: 3em;

        background-color: $color7;

        div.infos {
            @include Display(space-between, '', column);

            height: 290px;

            h1 {
                @include FontColor($color3, 2.5rem, 700);
             
                font-family: 'Raleway', sans-serif;

                width: 600px;
            }

            p {
                @include FontColor($color3, 1rem);
                
                width: 500px;
            }

            div.inputButton {
                @include Display(space-around, flex-start, column);
                @include StyleWH(380px, 80px);

                div.inputAndButton {
                    @include Display(space-between);
            
                    width: 370px;

                    input {
                        @include StyleWH(230px, 33px);

                        border: 1px solid $color9;

                        &::placeholder {
                            @include FontColor($color3, 0.8rem, 400);

                            padding-left: 1em;

                            font-family: 'Raleway', sans-serif;
        
                            opacity: 0.3;
                        }
                    }

                    input.errorInput {
                        border-color: $color8;
                    }

                    button {
                        @include StyleWH(130px, 34px);
                        @include FontColor($color2, 0.8rem, 700);
            
                        border: 0;
                        border-radius: 5px;

                        background-color: $color5;

                        font-family: 'Raleway', sans-serif;

                        &:hover {
                            cursor: pointer;

                            opacity: 0.7;
                        }
                    }
                }

                p.error {
                    @include FontColor($color8, 0.7rem);

                    opacity: 0.6;
                }
            }
        }

        img {
            @include StyleWH(550px, 470px);
        }
    }

    div.background {
        width: 100%;

        position: absolute;
        bottom: -15em;
        //bottom: -5em;
        right: 2em;

        img {
            width: 1400px;
            height: 100px;
        }
    }

    div.infoContent2 {
        @include Display(space-around);

        background-color: $color2;

        margin-top: 8em;

        width: 1450px;

        padding: 5em 0 4em 3em;

        div.infos2 {
            @include Display(space-around, flex-start, column);

            height: 510px;

            strong {
                @include FontColor($color3, 2rem, 700);
    
                font-family: 'Raleway', sans-serif;
            }

            p {
                @include FontColor($color3, 1rem);

                width: 495px;
            }

            a {
                @include FontColor($color6, 1.1rem);

                &:hover {
                    opacity: 0.5;
                }
            }

            div.comment {
                @include Display(space-around, flex-start, column);
                @include StyleWH(430px, 200px);

                padding-left: 1.5em;

                background-color: $color7;

                box-shadow: 0 0 1em $color4;

                p.text {
                    font-size: 1rem;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;

                    width: 320px;
                }

                img.quotes {
                    @include StyleWH(20px, 20px);
                }

                div.profile {
                    @include Display(space-between, center);
        
                    width: 50%;

                    img {
                        @include StyleWH(40px, 40px);

                        border-radius: 30px;
                    }

                    div.infoProfile {
                        padding-left: 1em;

                        p.name {
                            @include FontColor($color3, 1rem, 700);
        
                            font-family: 'Raleway', sans-serif;
                        }

                        p.function {
                            @include FontColor($color3, 0.7rem);
                        }
                    }
                }
            }
        }

        img.image {
            @include StyleWH(550px, 470px);
        }
    }

    div.inputInfo {
        @include Display(space-between, center);
        @include StyleWH(100%, 250px);

        background-color: $color1;

        padding: 0 3em 0 3em;

        div.infosInput {
            @include Display(space-between, '', column);

            height: 110px;

            strong {
                @include FontColor($color2, 1.7rem, 700);
          
                font-family: 'Raleway', sans-serif;
            }

            p {
                @include FontColor($color2, 0.9rem);

                width: 420px;
            }
        }

        div.inputButtonInfo {
            @include Display(space-between, '', column);

            height: 103px;

            input {
                @include StyleWH(400px, 40px);

                box-shadow: 0 0 1em $color1;

                border: 0;
                border: 1px solid $color7;

                &::placeholder {
                    padding-left: 1em;

                    opacity: 0.5;
                }
            }

            input.errorInput {
                border-color: $color8;
            }

            p.error2 {
                @include FontColor($color2, 0.7rem);
            }

            button {
                @include StyleWH(170px, 40px);
                @include FontColor($color2, 0.8rem, 700);

                border: 0;

                box-shadow: 0 0 1em $color1;

                background-color: $color5;;

                font-family: 'Raleway', sans-serif;

                padding: 0 1.5em;

                &:hover {
                    cursor: pointer;

                    opacity: 0.5;
                }
            }

        }
    }
}